/.phpunit.cache
/node_modules
/public/build
/public/hot

# Ignore everything in public/storage except specific folders

!/public/storage/img/aboutus
!/public/storage/img/CommonImg
!/public/storage/img/men
!/public/storage/img/men/*
!/public/storage/img/home
!/public/storage/img/login
!/public/storage/img/slides
!/public/storage/img/women
!/public/storage/img/women/*
/storage/*.key
/storage/pail

# Vendor directory (for Composer dependencies)
vendor/

# Environment files
.env
.env.backup
.env.production

# Laravel-specific files
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Authentication-related
auth.json

# Log files
npm-debug.log
yarn-error.log

# IDE/editor-specific directories
/.fleet
/.idea
/.vscode
/.zed
