@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.form-box.Login .animation{
  transform: translateX(0%);
transition: .7s ease;
opacity: 1;
transition-delay: calc(.1s * var(--S)) ;
}
.container.active .form-box.Login .animation{
transform: translateX(-120%);
opacity: 0;
transition-delay: calc(.1s * var(--li));
}

.form-box.Register .animation{
transform: translateX(120%);
transition: .7s ease;
opacity: 0;
filter: blur(10px);
transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Register .animation{
transform: translateX(0%);
opacity: 1;
filter: blur(0);
transition-delay: calc(.1s * var(--li));
}


.input-box label{
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
font-size: 16px;
color: black;
transition: .5s;
}
.input-box input:focus,
.input-box input:valid{

  border-bottom: 2px solid blue;}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
  top: -8px;
  color: #5384f5;}
.input-box i{
position: absolute;
top: 50%;
right: 0;
font-size: 18px;
transform: translateY(-50%);
transition: .5s;
}


.btn::before{
content: "";
position: absolute;
height: 300%;
width: 100%;
background: linear-gradient(#1E4189, #0738ab, #1E4189, #0738ab);
top: -100%;
left: 0;
z-index: -1;
transition: .5s;
}
.btn:hover:before{
top: 0;
}

.info-content.Login .animation{
transform: translateX(0);
transition: .7s ease;
transition-delay: calc(.1s * var(--S)) ;
opacity: 1;
filter: blur(0px);

}
.container.active .info-content.Login .animation{
transform: translateX(120%);
opacity: 0;
filter: blur(10px);
transition-delay: calc(.1s * var(--D));
}

.info-content.Register{

pointer-events: none;
}

.info-content.Register .animation{
transform: translateX(-120%);
transition: .7s ease;
opacity: 0;
filter: blur(10px);
transition-delay: calc(.1s * var(--S)) ;

}

.container.active .info-content.Register .animation{
transform: translateX(0%);
opacity: 1;
filter: blur(0);
transition-delay: calc(.1s * var(--li));
}

.curved-shape{
position: absolute;
right: 0;
top: -5px;
height: 600px;
width: 850px;
background: linear-gradient(#1E4189, #0738ab);
transform: rotate(10deg) skewY(40deg);
transform-origin: bottom right;
transition: 1.5s ease;
transition-delay: 1.6s;
}
.container.active .curved-shape{
  
transform: rotate(0deg) skewY(0deg);
transition-delay: .5s;
}


.curved-shape2{
position: absolute;
left: 250px;
top: 100%;
height: 700px;
width: 850px;
background: white;
transform: rotate(0deg) skewY(0deg);
transform-origin: bottom left;
transition: 1.5s ease;
transition-delay: .5s;
}
.container.active .curved-shape2{
  
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
  }
.container{
  width: 750px;
height: 450px;
box-shadow: 0 0 40px #5384f5;
}
.input-box input{
background: transparent;
border-bottom: 2px solid #1E4189;
}
.form-box{

width: 50%;
}

.info-content.Login{
right: 0;
text-align: right;
padding: 0 40px 60px 150px;
}
.info-content.Register{
left: 0;
text-align: left;
padding: 0 10px 60px 20px;
pointer-events: none;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    justify-content: center;
    width: 90%; /* Full width minus padding */
    
  }
  .form-box{
    
    display: flex;
    justify-content: flex-end;
    padding-bottom: 45px;
    width: max-content;
  }
  
  .form-box.Register{
    width: 100%;
    align-items: center;
  }

  .curved-shape{
  left: 0;
  width: 100%; 
  height: 120px;
  transform: rotate(0deg) skewY(0deg);
  transition: 1.5s ease;
  }
  .curved-shape2 {
    display: none;
  }

  /* Full-width adjustments for input boxes */
  .input-box input,
  .btn {
    width: 100%;
  }

  /* Center the info content on mobile */
  .info-content.Login, .info-content.Register {
    padding: 20px;
    text-align: center;
    justify-content: flex-start;
    margin-top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 10px 60px 20px;
    pointer-events: none;
  }

}
.Register {
  padding: 40px 40px 10px 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, visibility 0.7s ease;
}
.Login {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s ease, visibility 0.7s ease;
}
.container.active .Register {
  opacity: 1;
  visibility: visible;
}
.container.active .Login {
  opacity: 0;
  visibility: hidden;
}

